# MANDATORY SECTION:
# This dictionary will connect the logical value with the x-plane dataref
# it is used to set to change variables in x-plane when the user has made a
# change on the panel. When a user wants to change a value, user has to
# use the logcal variable name.
[Variables]
mode=MOKNY/FFA320/Aircraft/EIS/DMC1/PageManual
clr=sim/custom/xap/ewd_clr
all=sim/custom/xap/ewd_clr
brtud=sim/custom/xap/lght_upd
brtld=sim/custom/xap/lght_dnd
toconf=sim/custom/xap/to_conf_knob

btn_eng=MOKNY/FFA320/Aircraft/EIS/DMC1/PageButton1
btn_bleed=MOKNY/FFA320/Aircraft/EIS/DMC1/PageButton2
btn_press=MOKNY/FFA320/Aircraft/EIS/DMC1/PageButton3
btn_elec=MOKNY/FFA320/Aircraft/EIS/DMC1/PageButton4
btn_hyd=MOKNY/FFA320/Aircraft/EIS/DMC1/PageButton5
btn_fuel=MOKNY/FFA320/Aircraft/EIS/DMC1/PageButton6
btn_apu=MOKNY/FFA320/Aircraft/EIS/DMC1/PageButton7
btn_cond=MOKNY/FFA320/Aircraft/EIS/DMC1/PageButton8
btn_door=MOKNY/FFA320/Aircraft/EIS/DMC1/PageButton9
btn_wheel=MOKNY/FFA320/Aircraft/EIS/DMC1/PageButton10
btn_fctl=MOKNY/FFA320/Aircraft/EIS/DMC1/PageButton11
btn_clr=MOKNY/FFA320/Aircraft/EIS/DMC1/ClearButton
btn_sts=MOKNY/FFA320/Aircraft/EIS/FWC1/StatusButton

# MANDATORY SECTION:
# This dictionary will connect the logical values with the x-plane dataref
# it is used to request changes made by x-plane and to inform the user / panel about
# the x-plane initiated changes 
[Requests]
mode=MOKNY/FFA320/Aircraft/EIS/DMC1/PageManual
#clr=sim/custom/xap/ewd_clr
#toconf=sim/custom/xap/to_conf_knob

[Var.mode]
type=enum
map=States

[Var.clr]
type=bool

[Var.toconf]
type=bool

[Var.brtld]
type=linear
offset=10.0
slope=-10.0
range_in_min=0.0
range_in_max=1.0

[Var.brtud]
type=linear
offset=10.0
slope=-10.0
range_in_min=0.0
range_in_max=1.0

[Map.States]
ENG=1.0
BLEED=2.0
PRESS=3.0
ELEC=4.0
HYD=5.0
FUEL=6.0
APU=7.0
COND=8.0
DOOR=9.0
WHEEL=10.0
FCTL=11.0
STS=12.0
		